<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav>
    <div class="navbar">
        <div class="navbar_text">
            <a href="/">Home</a>
            <a href="/about">About</a>
            </style>
            <div class="dropdown">
               <button class="dropbtn">Services</button>
               <div class="dropdown-content">
                   <a href="/gutter-cleaning">Gutter Cleaning</a>
                   <a href="/roof-cleaning">Roof Cleaning</a>
                   <a href="/roof&gutter-cleaning">Both</a>
                </div>
            </div>
            <a href="/pricing">Pricing</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

</nav>
<head>
    <h1>ABOUT US</h1>
</head>
<body>
    <div class="container">
        <img class="tree" src="/img/trees.jpg">
        <p class="top-right">for a better experience for mobile users tilt your screen horizantily</p>
        <div class="home_textbox">
            <p>My name is Edward Pivovarov. And I own Western Lowland Gutter Cleaning, and we are based in Vancouver, Washinton. We clean roofs and gutters and offer service to Vancouver, Battleground, Ridgefield, Camas, and Washougal. Get Your Free Estimate Today.</p>
        </div>
        <div class="contact_btn">
            <a href="/contact">
                <button type="button">Contact</button>
            </a>
        </div>
    </div>
</body>