<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav>
    <div class="navbar">
        <div class="navbar_text">
            <a href="/">Home</a>
            <a href="/about">About</a>
            </style>
            <div class="dropdown">
               <button class="dropbtn">Services</button>
               <div class="dropdown-content">
                   <a href="/gutter-cleaning">Gutter Cleaning</a>
                   <a href="/roof-cleaning">Roof Cleaning</a>
                   <a href="/roof&gutter-cleaning">Roof & Gutter Cleaning</a>
                </div>
            </div>
            <a href="/pricing">Pricing</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

</nav>
<head>
    <h1>Western Lowland Gutter Cleaning</h1>
</head>
<body>
    <div class="container">
        <img class="tree" src="/img/trees.jpg">
        <p class="top-right">for a better experience for mobile users tilt your screen horizantily</p>
        <div class="home_textbox1">
            <p>Why Should You Have A Clean Roof & Gutters?</p>
        </div>
        <div class="home_textbox">
            <p>Roofs are designed to send rainwater down to the gutters.<br> And the gutters are designed to take that rainwater and carry it away from the foundation,<br> but gutters over time get dirty and clogged.<br> So by having your gutters and roof cleaned at least twice a year,<br> that'll prevent damage to your roof, exterior, and foundation,<br> SAVING YOU THOUSANDS IN FUTURE REPAIR COSTS.</p>
        </div>
        <div class="contact_btn">
            <a href="/contact">
                <button type="button">Contact</button>
            </a>
        </div>
    </div>
</body>